:root {
  --main-bg: #ffffff;
  --card-bg: #ffffff;
  --card-head: #575757;
  --card-foot: #575757;
  --title: #fff;
  --box-bg: #5b5b5b;
  --bg-fill: #7a7a7a;
  --border: #303030;
  --card-img: #d1d1d1;


  --text-color: #393939;
  --desktop: blue;
  --mobile: transparent;
  --side-col-mobile: 4%;
  --mid-col-mobile: 16rem;
  --mid-col-mobile-min: 6rem;

  --side-col-desktop: 4rem;
  --mid-col-desktop: 10rem;
}


body {
  font-family: Arial, Helvetica, sans-serif;
  background: var(--main-bg);
  font-size: 14px;
}



/* .container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
} */



/*-----------------------
"GRID INIT (mobile)"
-----------------------*/

.grid {
  display: grid;
  grid-template-columns: auto var(--side-col-mobile) minmax(var(--mid-col-mobile-min),var(--mid-col-mobile)) minmax(var(--mid-col-mobile-min), var(--mid-col-mobile)) var(--side-col-mobile) auto;
  grid-template-rows: auto auto auto auto auto auto auto auto auto;
  grid-row-gap: 0rem;
  grid-column-gap: 0rem;
  margin:0rem;
  }


  /*-----------------------*/
  /* ! GRID INIT (desktop) */
  /*-----------------------*/

@media only screen and (min-width: 992px) {

  .grid {
    display: grid;
    grid-template-columns: auto var(--side-col-desktop) var(--mid-col-desktop) var(--mid-col-desktop) var(--mid-col-desktop) var(--mid-col-desktop) minmax(0px,var(--side-col-desktop)) minmax(0px,auto);
    grid-template-rows: auto auto auto auto;
    grid-row-gap: 0.1rem;
    grid-column-gap: 0rem;
    margin:0rem;
    margin-top: 0rem;
    }

}



/*-----------------------
"SIDES mobile"
-----------------------*/

  .side {
      border: 1px solid var(--mobile);
      grid-row-start: 2;
      grid-row-end:   3;
  }

  .left {
      grid-column-start: 1;
      grid-column-end:   3;
  }

  .right {
      grid-column-start: 5;
      grid-column-end:   7;
  }



/*-----------------------*/
/* ! SIDES desktop       */
/*-----------------------*/

@media only screen and (min-width: 992px) {

    .side {
        grid-row-start: 2;
        grid-row-end:   4;
    }

}



/*-----------------------
"HEADER mobile"
-----------------------*/

  .header {
      grid-row-start: 1;
      grid-row-end:   2;
      grid-column-start: 1;
      grid-column-end:   7;
      min-height: 10rem;
      background-image: url("contour-header-00.png");
      background-size: cover;
      border: 0px solid var(--border);
      margin-top: 1rem;
      border-top: 2px solid var(--border);
      border-bottom: 2px solid var(--border);
      margin-bottom: 0.2rem;
  }

  .header-alpha {
      background: var(--card-img);
      /* opacity: 0.4; */
      /* height: 2rem; */
      height: 1.9rem;
  }



/*-----------------------*/
/* ! HEADER desktop      */
/*-----------------------*/

@media only screen and (min-width: 992px) {

    .header {
        grid-column-start: 1;
        grid-column-end:   9;
        background-size: 100% auto;
        min-height: 12rem;
        /* background-color: #fff;
        background-blend-mode: exclusion; */
    }

    .header-alpha {
        /* height: 1.4rem; */
        /* opacity: 0.3; */
    }

    .header-divider{
        opacity: 1;
        border-bottom: 2px solid var(--border);
    }

}



/*-----------------------
"BAR MENU mobile"
-----------------------*/

  .bar-menu {
      display: grid;
      grid-template-columns: auto 4fr auto auto auto auto auto;
      grid-template-rows: 2rem;
      background-color: var(--card-img);
      align-items: center;
  }

.navah {
      grid-column-start: 1;
      grid-column-end:   2;
  }

.navah a {
      text-decoration: none;
      color: var(--text-color);
      font-size: 1.4rem;
      padding-left: 0.5rem;
  }

.bar-menu > .links a {
      font-size: 0.8rem;
      text-decoration: none;
      color: var(--text-color);
      padding-left: 0.5rem;
      padding-right: 0.5rem;
  }

.bar-menu > .home {
      grid-column-start: 3;
      grid-column-end:   4;
      border-left: 2px solid var(--border);
  }

.bar-menu > .contact {
      grid-column-start: 4;
      grid-column-end:   5;
      border-left: 2px solid var(--border);
  }

.bar-menu > .question {
    grid-column-start: 5;
    grid-column-end:   6;
    border-left: 2px solid var(--border);
    padding-left: 0.7rem;
    padding-right: 0.2rem;
}

.bar-menu > .question input {
    border: 1px solid var(--border);
    font-size: 0.7rem;
    margin-right: 0.5rem;
    color: var(--text-color);
    padding-left: 0.4rem;
}

.bar-menu > .answers {
      grid-column-start: 6;
      grid-column-end:   7;
      border-left: 2px solid var(--border);
  }

  .header-divider{
      border-bottom: 2px solid var(--border);
  }



/*-----------------------*/
/* ! BAR MENU desktop    */
/*-----------------------*/

@media only screen and (min-width: 992px) {

}



/*-----------------------
"MIDDLE mobile"
-----------------------*/

  .mid {
      background: var(--card-bg);
      /* padding: .4rem; */
      /* min-height: 200px; */
      border-style: solid;
      border-color: var(--border);
  }

  .mid-top {
      grid-row-start: 2;
      grid-row-end:   3;
  }

  .mid-bottom {
      grid-row-start: 3;
      grid-row-end:   4;
  }

  .mid-1 {
      grid-column-start: 3;
      grid-column-end:   4;
      border-width: 2px 1px 1px 2px;
  }

  .mid-2 {
      grid-column-start: 4;
      grid-column-end:   5;
      border-width: 2px 2px 1px 1px;
  }

  .mid-3 {
      grid-column-start: 3;
      grid-column-end:   4;
      border-width: 1px 1px 2px 2px;
  }

  .mid-4 {
      grid-column-start: 4;
      grid-column-end:   5;
      border-width: 1px 2px 2px 1px;
  }





  /*-----------------------*/
  /* ! MIDDLE desktop      */
  /*-----------------------*/

@media only screen and (min-width: 992px) {

    .mid {
        /* padding: .4rem; */
        border-style: solid;
        border-color: var(--border);
        margin-top: -5rem;
        z-index: 10;
    }

    .mid-top {
        grid-row-start: 2;
        grid-row-end:   4;
    }

    .mid-bottom {
        grid-row-start: 2;
        grid-row-end:   4;
    }

    .mid-1 {
        grid-column-start: 3;
        grid-column-end:   4;
        border-width: 2px 1px 2px 2px;
    }

    .mid-2 {
        grid-column-start: 4;
        grid-column-end:   5;
        border-width: 2px 1px 2px 1px;
    }

    .mid-3 {
        grid-column-start: 5;
        grid-column-end:   6;
        border-width: 2px 1px 2px 1px;
    }

    .mid-4 {
        grid-column-start: 6;
        grid-column-end:   7;
        border-width: 2px 2px 2px 1px;
    }

    .left {
        grid-column-start: 1;
        grid-column-end:   3;
    }

    .right {
        grid-column-start: 7;
        grid-column-end:   9;
    }

}



/*-----------------------
"CARDS mobile"
-----------------------*/

.card {
    margin-bottom: .1rem;
}

/* .moved {
    display: none;
    border: 0px solid red;
    height: .8rem;
}

.moved .if-mod {

    color: var(--border);
    background: var(--title);
    padding: 7px;
    border-radius: 8px;
    font-size: 1.7rem;
    position: relative;
    top: -.4rem;
    left: 6rem;
    border: 2px solid var(--border);
}

.moved .typcn {
    color: var(--border);
    background: var(--title);
    padding: 7px;
    border-radius: 5px;
    font-size: 1.4rem;
    position: relative;
    top: -1.4rem;
    left: 10px;
    border: 2px solid var(--border);
    font-weight: 100;
} */

.card-top {
    background: var(--card-img);
    height: 6.4rem;
    margin: 0rem .6rem .6rem .6rem;
}

.card-title {
    display: block;
    /* color: var(--text-color); */
    font-size: 1.2rem;
    padding: .3rem .6rem;
    background: var(--card-img);
    border-bottom: 2px solid var(--border);
}

.card-title a {
    text-decoration: none;
    color: var(--text-color);
}

.card-text {
    color: var(--text-color);
    /* margin-bottom: .5rem; */
    min-height: 1.5rem;
    padding: .2rem .6rem .3rem .6rem;
}



/*-----------------------*/
/* ! CARDS desktop       */
/*-----------------------*/

@media only screen and (min-width: 992px) {

}



/*-----------------------
"DYNAMIC SELECTORS mobile"
-----------------------*/

.panel {
    background: var(--card-bg);
    border: 2px solid var(--border);
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end: 6;
    margin-top: 0.6rem;
    padding: .3rem;
    min-height: 4rem;
}

.toggle-menu {

}

.hide-menu-link {

}

.return-menu-link {

}



/*-----------------------*/
/* ! DYNAMIC SELECTORS desktop   */
/*-----------------------*/

@media only screen and (min-width: 992px) {

    .panel {
        grid-column-start: 2;
        grid-column-end: 8;
        grid-row-start: 4;
        grid-row-end: 5;
    }

}
