:root {
  --main-bg: #dddddd;
  --card-bg: #ededed;
  --card-head: #575757;
  --card-foot: #575757;
  --title: #265670;
  --box-bg: #5b5b5b;
  --bg-fill: #7a7a7a;
  --border: #303030;


  --text-color: #393939;
  --desktop: blue;
  --mobile: transparent;
  --side-col-mobile: 4%;
  --mid-col-mobile: 24rem;

  --side-col-desktop: 8rem;
  --mid-col-desktop: 10rem;
}





body {
  font-family: Arial, Helvetica, sans-serif;
  background: var(--main-bg);
  font-size: 14px;
}



/* .container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
} */



.grid {
  display: grid;
  grid-template-columns: auto var(--side-col-mobile) minmax(100px,var(--mid-col-mobile)) minmax(100px, var(--mid-col-mobile)) var(--side-col-mobile) auto;
  grid-template-rows: auto auto auto auto auto auto auto auto auto;
  grid-row-gap: 1rem;
  grid-column-gap: 1rem;
  margin:0rem;

  }





/* ----------------------------------- */
/*                                     */
/*                                     */
/* --- MOBILE SIDES ------------------ */
/*                                     */
/*                                     */
/* ----------------------------------- */


  .side {
      border: 1px solid var(--mobile);
      grid-row-start: 2;
      grid-row-end:   3;
  }

  .left {
      grid-column-start: 1;
      grid-column-end:   3;
  }

  .right {
      grid-column-start: 5;
      grid-column-end:   7;
  }





  /* ----------------------------------- */
  /*                                     */
  /*                                     */
  /* --- MOBILE HEADER ----------------- */
  /*                                     */
  /*                                     */
  /* ----------------------------------- */


  .header {
      /* border: 0px solid var(--mobile); */
      grid-row-start: 1;
      grid-row-end:   2;
      grid-column-start: 1;
      grid-column-end:   7;
      /* padding: .6rem; */
      min-height: 10rem;
      background-image: url("contour-header-02.png");
      background-size: cover;
      border: 0px solid black;
      margin-top: 2rem;
      /* width: 70%; */


  }





  /* ----------------------------------- */
  /*                                     */
  /*                                     */
  /* --- MOBILE MIDDLE ----------------- */
  /*                                     */
  /*                                     */
  /* ----------------------------------- */


  .mid {
      background: transparent;
      padding: .4rem;
      min-height: 200px;
  }

  .mid-top {
      border: 0px dashed var(--mobile);
      grid-row-start: 2;
      grid-row-end:   3;
  }

  .mid-bottom {
      border: 0px dashed var(--mobile);
      grid-row-start: 3;
      grid-row-end:   4;
  }

  .mid-1 {
      grid-column-start: 3;
      grid-column-end:   4;

  }

  .mid-2 {
      grid-column-start: 4;
      grid-column-end:   5;
  }

  .mid-3 {
      grid-column-start: 3;
      grid-column-end:   4;
  }

  .mid-4 {
      grid-column-start: 4;
      grid-column-end:   5;
  }



/* ----------------------------------- */
/*                                     */
/*                                     */
/* --- MOBILE CARDS ------------------ */
/*                                     */
/*                                     */
/* ----------------------------------- */

.card {
    margin-bottom: .1rem;
}

.moved {
    border: 0px solid red;
    height: .8rem;


}

.moved .if-mod {
    color: #fff;
    background: var(--title);
    padding: 7px;
    border-radius: 8px;
    font-size: 1.7rem;
    position: relative;
    top: -1.2rem;
    left: 100px;
    border: 2px solid #fff;
    /* font-weight: 0; */

}

.moved .typcn {
    color: #fff;
    background: var(--title);
    padding: 7px;
    border-radius: 5px;
    font-size: 1.4rem;
    position: relative;
    top: -1.4rem;
    left: 10px;
    border: 2px solid #fff;
    font-weight: 100;

}



.card-top {
    border: 0px solid black;
    background: #9ea5bd;
    height: 8rem;
}



.card-title {
    color: var(--text-color);
    font-size: 1.2rem;

}

.card-text {
    color: var(--text-color);
    margin-bottom: .5rem;
}








@media only screen and (min-width: 992px) {
    .grid {
      display: grid;
      grid-template-columns: auto var(--side-col-desktop) var(--mid-col-desktop) var(--mid-col-desktop) var(--mid-col-desktop) var(--mid-col-desktop) var(--side-col-desktop) auto;
      grid-template-rows: auto 1fr;
      grid-row-gap: 1rem;
      grid-column-gap: 1rem;
      margin:0rem;
      margin-top: 1rem;
      }



/* ----------------------------------- */
/*                                     */
/*                                     */
/* --- DESKTOP SIDES ----------------- */
/*                                     */
/*                                     */
/* ----------------------------------- */


  .side {
      border: 1px solid var(--desktop);

      grid-row-start: 2;
      grid-row-end:   4;
  }




/* ----------------------------------- */
/*                                     */
/*                                     */
/* --- DESKTOP HEADER ---------------- */
/*                                     */
/*                                     */
/* ----------------------------------- */

  .header {
      /* border: 0px solid var(--desktop); */
      /* grid-row-start: 1;
      grid-row-end:   2; */
      grid-column-start: 1;
      grid-column-end:   9;

  }




/* ----------------------------------- */
/*                                     */
/*                                     */
/* --- DESKTOP MIDDLE ---------------- */
/*                                     */
/*                                     */
/* ----------------------------------- */


  .mid {
      padding: .6rem
  }

  .mid-top {
      border: 1px dashed var(--desktop);
      grid-row-start: 2;
      grid-row-end:   4;
  }

  .mid-bottom {
      border: 1px dashed var(--desktop);
      grid-row-start: 2;
      grid-row-end:   4;
  }


  .mid-1 {
      grid-column-start: 3;
      grid-column-end:   4;
  }

  .mid-2 {
      grid-column-start: 4;
      grid-column-end:   5;
  }

  .mid-3 {
      grid-column-start: 5;
      grid-column-end:   6;
  }

  .mid-4 {
      grid-column-start: 6;
      grid-column-end:   7;

  }

  .left {
      grid-column-start: 1;
      grid-column-end:   3;
  }

  .right {
      grid-column-start: 7;
      grid-column-end:   9;
  }


}




.grid > card {
border-radius: 0px;
background: var(--card-bg);
border: 2px solid var(--border);


}

.grid > card img {
  max-width: 100%;
}


.text {
  /* padding: 10px 20px; */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto 1fr;
  grid-template-areas: "upper-mid"
  "head"
  "arrow"
  "lower-mid"
  "foot";
  grid-row-gap: 0px;
  grid-column-gap: 0px;
  /* align-content: end; */
  height: 100%;

}

.text > base {

}

sub-head{
    grid-area: head;
    margin: 15px 15px 5px 5px;
    background: var(--card-bg);
    color: var(--title);
    text-align: left;
    /* margin-left: 20px; */
    font-family: Georgia;
    font-size: 18px;
    font-weight: 900;
}

sub-upper-mid{
/* margin: 0; */
padding: 0px;

}

.card-crop {
  grid-area: upper-mid;
  object-fit: cover;
  /* object-position: 100% 0; */
  width: 100%;
  height: 150px;
  padding: 0px;
  /* border: 4px solid var(--card-bg); */

}

sub-head .typcn {
    /* background: #444; */
    color: var(--title);
    padding: 5px;

}

.arrow-down {
  /* grid-area: arrow;
  margin-top: -10px;
  margin-left: 20px;
  width: 0;
  height: 0;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-top: 15px solid var(--card-head);
  border: 0px solid transparent; */
}




sub-text{
    grid-area: lower-mid;
    font-size: 12px;
    margin: 0px 15px 0px 15px;
    border: 0px dotted black;


}






sub-foot{
    grid-area: foot;
    background: var(--card-foot)
    color: #555;
    padding: 10px;
    /* margin: 0px 20px 10px 20px;
    border-radius: 10px; */
    text-align: center;
    /* align-self: end; */

}

/* .zoom {
    grid-area: upper-mid;
} */






/* .grid > card:nth-child(1) {
  grid-column: span 2;
} */
