:root {
  --main-bg: #d7d5d5;
  --card-bg: #ffffff;
  --card-head: #575757;
  --card-foot: #575757;
  --title: #fff;
  --box-bg: #5b5b5b;
  --bg-fill: #7a7a7a;
  --border: #303030;

  /* the main grey */
  --card-img: #b9b7b7;

  /* reverse overlay */
  /* --overlay: #835ed4; */
  --overlay: rgba(255, 255, 255, 0.5);
  --overlay2: rgba(255, 255, 255, 0.5);
  --o-mode: screen;
  --overlay-filter: 100%;


  --tpx: 0px;
  --hpx: 0.5px;


  --text-color: #303030;
  --desktop: blue;
  --mobile: transparent;
  --alt-border: transparent;


  --breakpoint: 600px;


  --box-shadow-color: #282828;


 /* snippet: background: repeating-linear-gradient(-45deg, transparent 0, transparent 3px, #000 4px, transparent 5px); */

  /*-----------------------*/
  /* ! COLOR VARS */
  /*-----------------------*/



  --hover-tab-color: #e0a903;
  --hover-tab-color-dark: #b08606;
  --hover-tab-color-base: #c2c2c2;


  --ff-title: 'Space Mono';
  /* --ff-text: 'Work Sans'; */
  /* --ff-text: 'Inconsolata'; */
  /* --ff-text: 'Courier Prime'; */
  --ff-text: 'Share Tech Mono';
  --ff-tag: 'Space Mono';


  /*-----------------------*/
  /* ! mobile/desktop vars */
  /*-----------------------*/

  /* lightstripe */

  --bg-url: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPSc2JyBoZWlnaHQ9JzQ5Jz4KICA8cmVjdCB3aWR0aD0nMycgaGVpZ2h0PSc1MCcgZmlsbD0nI2ZmZicvPgogIDxyZWN0IHg9JzMnIHdpZHRoPScxJyBoZWlnaHQ9JzUwJyBmaWxsPScjY2NjJy8+Cjwvc3ZnPgo=");

  --bg-url: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPSc1JyBoZWlnaHQ9JzUnPgogIDxyZWN0IHdpZHRoPSc1JyBoZWlnaHQ9JzUnIGZpbGw9J3doaXRlJy8+CiAgPHBhdGggZD0nTTAgNUw1IDBaTTYgNEw0IDZaTS0xIDFMMSAtMVonIHN0cm9rZT0nIzg4OCcgc3Ryb2tlLXdpZHRoPScxJy8+Cjwvc3ZnPg==");

  --bg-url: var(--main-bg);


  --side-col-mobile: 0px;
  --mid-col-mobile: 40rem;
  --mid-col-mobile-min: 0px;


  --bpx: 1px;
  --border-radius: 10px;
  --box-shadow: 4px;
  /* --box-offset: 5px; */

  --title-font-size: 0.8rem;
  --title-padding1: 0.2rem;
  --title-padding2: 0.0rem;



  --font-size: 0.65rem;
  --text-padding1: 0.4rem;
  --text-padding2: var(--title-padding2);


  --img-padding1: 0.0rem;
  --img-padding2: 0.0rem;
  --img-padding3: 0.3rem;
  --img-padding4: 0.0rem;
  --img-border-radius: 15px;


  --tag-font-size: 0.4rem;
  --tag-lh: 1.1rem;
  --tag-padding1: 1px;
  --tag-padding2: 5px;
  --tag-spacing: 0.3rem;
  --tag-radius: 4px;
  --tag-bpx: 1px;

  --tag-mg1: 0.4rem;
  --tag-mg2: 1.0rem;


  --mb-navah-size: 0.8rem;
  --mb-link-size: 0.6rem;
  --mb-input-size: 0.6rem;

  --row-gap: 0.8rem;
  --col-gap: 0.5rem;

  --dash: 2px;
  --dash-frac: 25%;
  --dash-width: 14px;


  --card-height: 3.5rem;

}



body {
  font-family: Arial, Helvetica, sans-serif;
  /* background-image: linear-gradient(to right,
      var(--main-bg) 0%,
      var(--main-bg) 100%), var(--bg-url); background-repeat: repeat; */
  /* background-blend-mode: normal; */
  background: var(--main-bg);
  font-size: 16px;
}


a {
    text-decoration: none;
}





@media only screen and (min-width: 600px) {
    :root{

        --bg-url: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPSc1JyBoZWlnaHQ9JzUnPgogIDxyZWN0IHdpZHRoPSc1JyBoZWlnaHQ9JzUnIGZpbGw9J3doaXRlJy8+CiAgPHBhdGggZD0nTTAgNUw1IDBaTTYgNEw0IDZaTS0xIDFMMSAtMVonIHN0cm9rZT0nIzg4OCcgc3Ryb2tlLXdpZHRoPScxJy8+Cjwvc3ZnPg==");


        --side-col-desktop: 0.5rem;
        --mid-col-desktop: 12rem;
        --mid-col-desktop-min: 0px;



         --bpx: 1px;
         --border-radius: 10px;
         --box-shadow: 4px;
         /* --box-offset: 5px; */

         --title-font-size: 1.2rem;
         --title-padding1: 0.4rem;
         --title-padding2: 0.6rem;

         --font-size: 0.6rem;
         --text-padding1: 0.6rem;
         --text-padding2: var(--title-padding2);


         --img-padding1: 0.0rem;
         --img-padding2: 0.0rem;
         --img-padding3: 0.7rem;
         --img-padding4: 0.0rem;
         --img-border-radius: 15px;


         --tag-font-size: 0.7rem;
         --tag-lh: 1.6rem;
         --tag-padding1: 0px;
         --tag-padding2: 5px;
         --tag-spacing: 0.9rem;
         --tag-radius: 4px;
         --tag-bpx: 1px;

         --tag-mg1: 1.0rem;
         --tag-mg2: 1.0rem;


         --mb-navah-size: 1.2rem;
         --mb-link-size: 0.8rem;
         --mb-input-size: 0.6rem;

         --row-gap: 1.0rem;
         --col-gap: 1.0rem;

         --dash: 1px;
         --dash-frac: 25%;
         --dash-width: 11px;

         --card-height: 6.4rem;
     }
}



/*-----------------------
"GRID INIT (mobile)"
-----------------------*/


/* minmax(0px, var(--mid-col-mobile)) */
.grid {
    display: grid;
    grid-template-columns:
    /* 2 */ auto
    /* 3 */ minmax(var(--mid-col-mobile-min), var(--mid-col-mobile))
    /* 6 */ minmax(var(--mid-col-mobile-min), var(--mid-col-mobile))
    minmax(var(--mid-col-mobile-min), var(--mid-col-mobile))
    minmax(var(--mid-col-mobile-min), var(--mid-col-mobile))
    /* 7 */ auto;
    grid-template-rows: auto auto auto auto auto;
    grid-row-gap: var(--row-gap);
    grid-column-gap: var(--col-gap);
    margin:0rem;
    margin-top: 0.5rem;
    /* margin-left: 0rem;
    margin-right: 0rem; */
    /* border: 1px solid red; */
  }


  /*-----------------------*/
  /* ! GRID INIT (desktop) */
  /*-----------------------*/

@media only screen and (min-width: 600px) {

    .grid {
        display: grid;
        grid-template-columns:
        /* 1 */ minmax(0px,auto)
        /* 2 */ minmax(0px,var(--side-col-desktop))
        /* 3 */ minmax(var(--mid-col-desktop-min), var(--mid-col-desktop))
        /* 4 */ minmax(var(--mid-col-desktop-min), var(--mid-col-desktop))
        /* 5 */ minmax(var(--mid-col-desktop-min), var(--mid-col-desktop))
        /* 6 */ minmax(var(--mid-col-desktop-min), var(--mid-col-desktop))
        /* 7 */ minmax(var(--mid-col-desktop-min),var(--side-col-desktop))
        /* 8 */ minmax(var(--mid-col-desktop-min),auto);
        grid-template-rows: auto auto auto auto;
        grid-row-gap: var(--row-gap);
        grid-column-gap: var(--col-gap);
        margin:0rem;
        margin-top: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
      }

}



/*-----------------------
"SIDES mobile"
-----------------------*/


  .left {
      grid-column-start: 1;
      grid-column-end:   2;
      /* border: 1px solid red; */
  }

  .right {
      grid-column-start: 6;
      grid-column-end:   7;
      /* border: 1px solid red; */
  }



/*-----------------------*/
/* ! SIDES desktop       */
/*-----------------------*/

@media only screen and (min-width: 600px) {


    .left {
        grid-column-start: 1;
        grid-column-end:   3;
    }

    .right {
        grid-column-start: 7;
        grid-column-end:   9;
    }

}



/*-----------------------
"HEADER mobile"
-----------------------*/

  .header {
      grid-column-start: 2;
      grid-column-end:   6;
      background-size: 100% auto;
      /* border: 1px solid red; */
  }

  .header-wash {
      background: red;
  }

  .header-bg {
      /* min-height: 10rem; */
      background: url('contour-may-03.svg') #fff;
      /* background-size: contain; */
      /* width: 100%; */
      /* height: 100%; */
      background-repeat: no-repeat;
      /* background-image:
          linear-gradient(to right,
              var(--overlay) 0%,
              var(--overlay2) 100%),
          url('contour-may-03.svg'); */
      /* background-blend-mode: var(--o-mode); */
      background-size: 100% auto;

      border: var(--bpx) solid var(--border);

      /* INVERSION LINES BELOW */
      /* filter: invert(100%);
      -webkit-filter: invert(var(--overlay-filter)); */

      text-align: right;
      border-radius: var(--border-radius);

      -webkit-box-shadow: var(--box-shadow) var(--box-shadow)
      0px 0px var(--box-shadow-color);
      -moz-box-shadow: var(--box-shadow) var(--box-shadow)
      0px 0px var(--box-shadow-color);
      box-shadow: var(--box-shadow) var(--box-shadow)
      0px 0px var(--box-shadow-color);


  }



  .tag-wrap {

      margin-top: var(--tag-mg1);
      margin-bottom: var(--tag-mg1);
      margin-right: var(--tag-mg2);
      /* display: none; */
      visibility: hidden;
  }

  .header-tag {
      border: var(--tag-bpx) solid var(--border);
      background: var(--hover-tab-color);
      font-size: var(--tag-font-size);
      font-family: var(--ff-tag);
      display: inline;
      padding: var(--tag-padding1) var(--tag-padding2);
      margin-left: var(--tag-spacing);
      border-radius: var(--tag-radius);
      line-height: var(--tag-lh);


  }



/*-----------------------*/
/* ! HEADER desktop      */
/*-----------------------*/

@media only screen and (min-width: 600px) {

    .header {
        grid-column-start: 3;
        grid-column-end:   7;
    }

     .tag-wrap {

        /* display: block; */
        visibility: visible;
    }

}



/*-----------------------
"BAR MENU mobile"
-----------------------*/

  .bar-menu {
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: auto;
       padding: 0;
       text-align: right;
       /* margin-bottom: calc(var(--row-gap)/2); */

  }


.bar-menu a {
    font-size: var(--mb-link-size);
    text-decoration: none;
    color: var(--text-color);
    font-family: var(--ff-title);
}

.navah {
      grid-column-start: 1;
      grid-column-end:   2;
      text-align: left;
      margin: auto 0px;
      padding-left: 10px;
  }

.navah a {
  font-size: var(--mb-navah-size);
}




.home {
      grid-column-start: 3;
      grid-column-end:   4;
      var(--mb-link-size);
      margin: auto 0px;
      padding: 10px;

  }

.home a {
    margin-left: 20px;
}



.home input {
    border: 1px solid var(--border);
    font-size: var(--mb-input-size);
    color: var(--text-color);
    padding-left: 0.3rem;
    border-radius: 1px;
}

.question-field {
    margin-left: 20px;
}






/*-----------------------*/
/* ! BAR MENU desktop    */
/*-----------------------*/

@media only screen and (min-width: 600px) {

.bar-menu {
    /* grid-template-columns: auto 4fr auto auto auto auto auto; */
    /* grid-template-rows: 1.7rem; */
}


.navah {
    grid-column-start: 1;
    grid-column-end:   2;
  }



.home {
    grid-column-start: 3;
    grid-column-end:   4;
}





}



/*-----------------------
"MIDDLE mobile"
-----------------------*/

  .mid {

      /* border-left: 1px solid var(--border); */
      border-bottom: 1px solid var(--border);
  }

.mid:active{

}






  .mid-top {
      grid-row-start: 2;
      grid-row-end:   3;
  }

  .mid-bottom {
      grid-row-start: 2;
      grid-row-end:   3;
  }


  .mid-1 {
      grid-column-start: 2;
      grid-column-end:   3;
      border-width: var(--bpx);
  }

  .mid-2 {
      grid-column-start: 3;
      grid-column-end:   4;
      border-width: var(--bpx);
  }

  .mid-3 {
      grid-column-start: 4;
      grid-column-end:   5;
      border-width: var(--bpx);
  }

  .mid-4 {
      grid-column-start: 5;
      grid-column-end:   6;
      border-width: var(--bpx);
  }






  /*-----------------------*/
  /* ! MIDDLE desktop      */
  /*-----------------------*/

@media only screen and (min-width: 600px) {



    .mid {
        background: var(--card-bg);
        border-style: solid;
        border-color: var(--border);
        border-radius: var(--border-radius);
        -webkit-box-shadow: var(--box-shadow) var(--box-shadow)
        0px 0px var(--box-shadow-color);
        -moz-box-shadow: var(--box-shadow) var(--box-shadow)
        0px 0px var(--box-shadow-color);
        box-shadow: var(--box-shadow) var(--box-shadow)
        0px 0px var(--box-shadow-color);

    }

    .mid:active{
        /* position: relative;
        top: 3px;
        left: 0px; */
      transform: translate(3px, 3px);

    	box-shadow: 1px 1px 0px var(--box-shadow-color);
    }

    .mid-top {
        grid-row-start: 2;
        grid-row-end:   4;
    }

    .mid-bottom {
        grid-row-start: 2;
        grid-row-end:   4;
    }


    .mid-1 {
        grid-column-start: 3;
        grid-column-end:   4;
    }

    .mid-2 {
        grid-column-start: 4;
        grid-column-end:   5;
    }

    .mid-3 {
        grid-column-start: 5;
        grid-column-end:   6;
    }

    .mid-4 {
        grid-column-start: 6;
        grid-column-end:   7;
    }


}








/*-----------------------
"CARDS mobile"
-----------------------*/



.card {
    margin-bottom: 0rem;

}









.card-top {
    /* border: 0px solid var(--border); */
    /* background: var(--bg-url); */
    background: #a6a5aa;
    height: var(--card-height);
    margin: var(--img-padding1) var(--img-padding2) var(--img-padding3) var(--img-padding4);
    width: 100%;
    /* border: 1px solid red; */


}


.c-2 {
    background: url('sample_projects1.svg');
    background-size: 140%;
    background-repeat: no-repeat;
    background-position: -30px -40px;
}


.c-3 {
    background: url('sample_science1.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    /* background-position: 0px -40px; */
}









.card-title {
    display: block;
    padding: var(--title-padding1) var(--title-padding2);
    text-align: left;
    /* border: 1px solid var(--border); */
    /* border-radius: var(--border-radius); */

}




.divider-dash {
  display: none;
}


.card-title a {
    text-decoration: none;
    color: var(--text-color);
    display: block;

    font-family: var(--ff-title);
    font-size: var(--title-font-size);
    /* background: #fff; */
}


.card-text {
    /* display: block; */
    color: var(--text-color);
    /* font-size: min(0.7rem, max(2.1vw, 1.1rem)); */
    font-size: var(--font-size);
    padding: var(--text-padding1) var(--text-padding2);
    font-family: var(--ff-text);
    display: none;

    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}


/* .line-up {
    display: none;
    background: none;
    border: none;
} */



/*-----------------------*/
/* ! CARDS desktop       */
/*-----------------------*/

@media only screen and (min-width: 600px) {

    .card {
        border: none;
    }


    .card-title {
        color: var(--text-color);
        border-top-left-radius: var(--img-border-radius);
        border-top-right-radius: var(--img-border-radius);
        text-align: left;

        white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
    }

    .divider-dash {
        background-image: linear-gradient(to right, transparent var(--dash-frac), var(--border) 0%);
        background-position: top;
        background-size: var(--dash-width) var(--dash);
        background-repeat: repeat-x;
        margin: 0rem var(--title-padding2);
        height: var(--dash);
    }


    /* .card-title {
        font-size: min(1.2rem, max(2vw, 0.7rem));
    }


    .card-text {
        font-size: min(0.7rem, max(2.1vw, 1.1rem));
    } */

    .divider-dash {
        display: block;
    }

    .card-text {
        display: block;
    }

    .line-up {
        display: none;
    }

}



/*-----------------------
"DYNAMIC SELECTORS mobile"
-----------------------*/

.panel {
    background: var(--card-bg);
    border: var(--bpx) solid var(--border);
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 4;
    margin-top: -1px;
    padding: .6rem;
    min-height: 4rem;
}












.title-hover {

    transition: all 0.2s linear 0.0s;
}

.card-hover {

    transition: all 0.2s linear 0.0s;
}

.shaded-tab {


}

.shaded-title {


}

.mid-moved {



}

.mid:hover {


}



/*-----------------------*/
/* ! DYNAMIC SELECTORS desktop   */
/*-----------------------*/

@media only screen and (min-width: 600px) {

    .panel {
        grid-column-start: 3;
        grid-column-end: 7;
        grid-row-start: 5;
        grid-row-end: 6;
    }


    .card-hover {
        background: var(--hover-tab-color);
        transition: all 0.2s linear 0.0s;
    }

    .shaded-tab {
        background-color: var(--hover-tab-color);
        border: var(--bpx) solid var(--border);
        border-radius: var(--border-radius);

    }

    .shaded-title {
        background-color: var(--hover-tab-color);
        /* background-color: var(--hover-tab-color-dark); */
        /* transition: all 0.2s linear .0s; */
        /* border-radius: var(--border-radius); */

    }


    .mid-moved {
        box-shadow: 1px 1px 0px var(--box-shadow-color);
        position: relative;
        top: 3px;
        left: 3px;
        /* transition: all 0.2s linear 0.0s; */
    }


}
